body {
  align-items: center;
  background: #bfddf8;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  table-layout: auto;
  width: 100%;
}

.styled-table thead tr {
  background-color: #014;
  color: #ffffff;
  font-size: 0.9em;
  font-family: sans-serif;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody {
  font-size: 1.15em;
  font-family: monospace;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table td:last-of-type {
  box-sizing: border-box;
  font-size: 85%;
  font-style: italic;
  overflow: hidden;
  white-space: normal;
}

.styled-table td:last-of-type:hover {
  overflow: visible;
  white-space: normal;
}

/* drag drop */

.drag-area {
  align-items: center;
  border: 2px dashed #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 700px;
}

.drag-area.active {
  border: 2px solid #fff;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #111;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #111;
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  margin: 20px;
}

/* css loading spinner */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}